<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaCenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LocalCache" value="c:\TEMP\Personal\MC\LocalCache\" />
<!--
    <add key="LocalStore" value="c:\TEMP\Personal\MC\LocalStore\localstore.prod.mcs" />
    <add key="RemoteStore" value="d:\MediaCenter\" />
    -->
    
    <add key="LocalStore" value="c:\TEMP\Personal\MC\TestRepository\Local\localstore.dev.mcs" />
    <add key="RemoteStore" value="c:\TEMP\Personal\MC\TestRepository\Remote\" />

    <add key="SlideshowIntervalSeconds" value="3"/>
    <add key="LoadSubDirs" value="false" />
    <add key="PrefetchBufferSize" value="10" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MediaCenter.Properties.Settings>
      <setting name="SlideshowInterval" serializeAs="String">
        <value>4</value>
      </setting>
    </MediaCenter.Properties.Settings>
  </userSettings>
</configuration>
