<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LocalCache" value="c:\TEMP\Personal documents\MCTest\LocalCache\" />
    
    <add key="LocalStore" value="c:\TEMP\Personal documents\MCTest\LocalStore\localstore.prod.mcs" />
    <add key="RemoteStore" value="e:\MediaCenter\" />

    <!--
    <add key="LocalStore" value="c:\TEMP\Personal documents\MCTest\LocalStore\localstore.dev.mcs" />
    <add key="RemoteStore" value="c:\TEMP\Personal documents\MCTest\RemoteStore\" />
-->
    <add key="LoadSubDirs" value="false" />
    <add key="PrefetchBufferSize" value="10" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
